html, body {
    width: 100%;
    height:100%;
    background-color: #1a1a2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@font-face {
    font-family: Abel;
    src: url("./font/Abel-Regular.ttf");
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #d9dbf1;
    opacity: 50%;
    height: 100%;
    padding: 10px 0 10px 0;
    font-size: 15px;
    text-shadow: 1px 1px 0 rgba(43, 34, 35, 1);
    a {
        text-decoration: none;
        color: #000000;
    }
}

.wawancara {
    display: block;
    justify-self: center;
    text-align: center;
    align-self: center;
    background: rgba(217, 219, 241, 0.5);
    height: 100%;
    color: white;
    h1 {
        margin-bottom: 40px;
    }
    img {
        width: 750px;
        border-radius: 15px;
        margin-bottom: 40px;
        &:hover{
            transition: all 200ms ease-in-out;
            transform: scale(1.1);
        }
    }
    p {
        color: white;
        text-align: center;
        padding: 0 0 20px 0;
    }
    &-hidden {
        display: none;
    }
}

.wawan{
    img {
        width: 500px;
    }
    &-cakru {
        .kru{
            display:none;
        }
        ul {
            margin-bottom: 15px;
            padding: 0 0 20px 0;
        }
    }
    &-kru {
        .cakru{
            display:none;
        }
    }
}